.navbar-brand, .panel-heading {
  font-family: 'Lily Script One', cursive;
}

body{
  font-family: 'Quicksand', sans-serif;
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  font-family: 'Lily Script One', cursive;
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
}
.panel img {
  border-radius: 10px;
  border: 5px solid black;
}


.body_text {
  margin: 0 30px 0 80px;
}

.panel-group{
  text-align: center;
}

.panel-heading{
  font-size: 30px;
}

.allison_img img{
  width: 30%;
  padding: 5px;
}

/* Social media buttons */
.social a {
  color: #fff;
  text-decoration: none;
}
.social .me {
  width: 100px;
  margin: 50px auto;
}
.social {
  position: fixed;
  top: 100px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 315px;
  text-align: right;
  padding: 5px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(100px, 0);
  -moz-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  transform: translate(100px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover img {
  color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li img {
  margin-left: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #D3D3D3;
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  nav.social {
    display: none;
  }
  h1 {
    font-size: 5rem;
  }
}
